# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Entornos virtuales
venv/
.venv/
env/

# Variables sensibles
.env
.env.*

# Base de datos local / temporales
*.sqlite3
*.db

# Logs y temporales
*.log
*.tmp
*.swp
*.swo
*~

# Tests / caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Archivos de sistema
.DS_Store
Thumbs.db

# Build / binarios compilados C-C++
*.o
*.out
*.a
*.la
*.lo
*.dylib

# Carpetas de compilación o basura
build/
dist/

# Flutter / Android / Dart
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages

# Resultados generados automáticamente
cql/results/
chessdb/results/

# Caches o artefactos locales opcionales
*.tar

# Binarios grandes locales
cql/cql
engines/stockfish/stockfish-ubuntu-x86-64
